/*

font-family: "hypatia-sans-pro", sans-serif;
font-weight: 900;
font-style: normal;


*/

* {
padding: 0;
margin: 0;    
}

html {
box-sizing: border-box;    
}

.top-section {

}

.middle-section {
    

}


.bottom-section {
    
}